.body {
    margin: 10px;
    width: 100%;
}

.content {
    padding: 10px;
}

.container {
    padding: 0;
    margin: 0;
    border: 1px solid black;
    width: 260px;
    height: 144px;
    border-radius: 10px;
}

.heading {
    margin-top: 4px;
    margin-bottom: 0;
    margin-left: 4px;
    font-size: 20px;
    float: left;
}

.paragraph {
    margin-top: 4px;
    margin-left: 4px;
    float: left;
    font-size: 12px;
    text-align: left;
    white-space: initial;
}

.container img {
    padding: 0;
    margin: 0;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    width: 260px;
    height: 56px;
}

.logo_ameti {
    float: left;
    height: 105px;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.header {
    width: max-content;
    height: min-content;
}

#header1 {
    width: max-content;
    height: min-content;
}

.home_body {
    padding: 15px;
    border: 2px solid black;
    border-radius: 11px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
    width: fit-content;
    max-width: calc(4 * 268px);
    height: min-content;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.home_body > * {
    flex: 0 0 auto;
    width: 260px;
    height: 144px;
}
