.body {
    margin: 10px;
    gap: 10px;
    width: 100%;
}

.content {
    padding: 10px;
}

.container {
    padding: 0;
    margin: 0;
    border: 1px solid black;
    width: 260px;
    height: 144px;
    border-radius: 10px;
    display: block;
}

.heading {
    margin-top: 4px;
    margin-bottom: 0;
    margin-left: 4px;
    font-size: 20px;
    float: left;
}

.paragraph {
    margin-top: 4px;
    margin-left: 4px;
    float: left;
    font-size: 12px;
    text-align: left;
}

.container img {
    padding: 0;
    margin: 0;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    width: 100%;
    height: 56px;
}

.logo_ameti {
    float: left;
    height: 105px;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.header {
    width: 100%;
}

.home_body {
    padding: 15px;
    width: 100%;
    height: 162px;
    border: 2px solid black;
    border-radius: 11px;
    margin: 10px;
    gap: 10px;
    margin-top: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flow;
}