.wrapper {
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    min-width: 150px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
    overflow: hidden;
    border-right: 1px solid black;
}

.sidebar h1 {
    margin-bottom: 20px;
}

.sidebarButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 12px;
    cursor: pointer;
    text-align: left;
    font-size: 15px;
    border-radius: 5px;
}

.sidebar button:hover{
    background-color: #dcdcdc;
}

.sidebar button.active {
    background-color: #dcdcdc;
    font-weight: bold;
}

.sidebarAccount {
    margin-top: auto;
}

.account {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    cursor: pointer;
}

.account:hover {
    background-color: #dcdcdc;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
}

.accountInfo {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: bold;
    font-size: 14px;
}

.role {
    font-size: 12px;
    color: gray;
}

.content {
    flex-grow: 1;
    background-color: #f4f4f4;
    color: black;
    display: flex;
    font-size: 24px;
    overflow-y: auto;
    height: 100vh;
}

.main-wrapper .content.userData-style {
    background-color: #ffffff;
    color: black;
    display: block;
    padding: 20px;
}
